body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Balsamiq Sans, sans-serif;
}

/* ------------- Landing Page -------------------- */

#landing-page {
	height: 100vh;
	background: url(./images/landing2.png);
	background-size: cover;
	background-attachment: scroll;	
}

@media only screen and (max-width: 1200px) {

	.intro-box {
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.intro-box h1 {
		color: #94618E;
		font-weight: bold;
		padding: 0;
		font-family: kalam;
	}

	.intro-box h5 {
		color: #fff;
	}
	
	.intro-box p {
		margin-top: 30px;
		padding: 0 30px 0 30px;
		color: #777;
		font-family: Balsamiq Sans;
	}

	.landing-buttons {
		display: flex;
		gap: 20px;
		top: 85%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.buttons  {
		color: #94618E;
	}

	.landing-buttons a:hover  {
		color: #fff;
		text-decoration: none;
		border-bottom-style: solid;
		border-color: #fff;
	}

}

@media only screen and (min-width: 768px) {

	.name {
		font-size: 4em;
	}

	a.buttons h5  {
		font-size: 1.3em;
	}

	.landing-buttons, .navbar-nav {
		gap: 60px;
	}

}

@media only screen and (min-width: 1200px) {

	.intro-box {
		margin: 0;
		padding: 0;
		width: 50%;
		top: 50%;
		left: 70%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.intro-box h1 {
		color: #94618E;
		font-weight: bold;
		padding: 0;
		font-family: kalam;
	}

	.intro-box h5 {
		font-size: 1.5em;
		color: #fff;
	}

	.intro-box p {
		margin-top: 30px;
		padding: 0 30px 0 30px;
		color: #777;
		font-family: Balsamiq Sans;
		font-size: 1.5em;
	}

	.landing-buttons {
		display: flex;
		gap: 60px;
		top: 85%;
		left: 30%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.buttons  {
		color: #94618E;
	}

	a.buttons h5  {
		font-size: 1.5em;
	}

	.landing-buttons a:hover  {
		color: #fff;
		text-decoration: none;
		border-bottom-style: solid;
		border-color: #fff;
	}
}

/* ---------------Nav Bar -------------------- */

.nav-bar {
	top: 0;
	position: sticky;
	z-index: 2;
}

.navbar {
	background-color: #F8EEE7;
}

.nav-bar .fa-bars, .nav-link {
	color: #94618E;
}

.navbar-nav {
	text-align: center;
}

.nav-item a:hover {
	color: #94618E;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {

	.nav-link {
			font-size: 1.5em;
	}

	.nav-link.active {
			border-bottom-style: solid;
			border-color: #94618E;
	}
}


/* --------------- About -------------------- */

@media only screen and (max-width: 464.5px) {

	.about {
		height: auto;
		padding: 50px 20px 50px 20px;
		background-color: #E8CCC9;
		color: #404040;
		font-size: 1.0em;
	}

	.about .title {
		padding-top: 10%;
		width: 100%;
		text-align: center;
		color: #404040;
		align-items: center;
		margin: 0;
	}

	.about h3 {
		font-weight: bold;
		color: #404040;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(0%, -200%);
		margin: 0;
	}

	.projects {
		height: auto;
		width: auto;
		padding: 100px 20px 20px 20px;
		background-color: #C2A2BE;
		color: #404040;
	}

	#projects .title {
		background-color: #C2A2BE;
		color: #404040;
	}

	.projects h3 {
		font-size: 1.2em;
		font-weight: bold;
		color: #404040;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(0%, -280%);
	}
}

@media only screen and (min-width: 465px) and (max-width: 767.5px) {

	.about {
		height: auto;
		padding: 50px 20px 50px 20px;
		background-color: #E8CCC9;
		color: #404040;
		font-size: 1.0em;
	}

	.about .title {
		padding-top: 10%;
		width: 100%;
		text-align: center;
		color: #404040;
		align-items: center;
		margin: 0;
	}

	.about h3 {
		font-size: 2.5em;
		font-weight: bold;
		color: #404040;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(0%, -200%);
		margin: 0;
	}

	.projects {
		height: auto;
		width: auto;
		padding: 100px 20px 20px 20px;
		background-color: #C2A2BE;
		color: #404040;
	}

	#projects .title {
		background-color: #C2A2BE;
		color: #404040;
	}

	.projects h3 {
		font-size: 1.5em;
		font-weight: bold;
		color: #404040;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(0%, -280%);
	}
}

@media only screen and (max-width: 767.5px) {

	.about-skills {
		display: flex;
		flex-wrap: wrap;
	}

	.tech-list {
		display: inline-flex;
	}

	.tools-list  {
		display: inline-flex;
		gap: 50px;
	}

}

@media only screen and (min-width: 768px) {

	.title {
			padding-top: 2%;
			width: 100%;
			text-align: center;
			background-color: #E8CCC9;
			color: #404040;
			align-items: center;
	}

	h3 {
		font-weight: bold;
		color: #404040;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(0%, -250%);
		font-size: 2.5em;
	}

	.about {
		height: auto;
		width: auto;
		padding: 100px 50px;
		background-color: #E8CCC9;
		color: #404040;
	}

	.pic {
		width: 100%;
		height: auto;
		padding-top: 50px;
	}

	.tech-list {
		display: flex;
		gap: 40px;
	}

	.tools-list  {
		display: flex;
		gap: 40px;
	}

	.about-skills {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}

	/* ------------- Projects -------------- */

	.projects {
		height: auto;
		width: auto;
		padding: 100px 50px;
		background-color: #C2A2BE;
		color: #404040;
	}

	#projects .title {
		background-color: #C2A2BE;
		color: #404040;
	}
}


@media only screen and (max-width: 991px) {

	.pic {
			width: 50%;
			height: auto;
			padding-top: 10px;
		}
}


/* --------------- Projects ----------------- */

@media only screen and (min-width: 992px) {

	.postcard {
	  flex-wrap: inherit;
	  display: flex; 
	  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	  border-radius: 10px;
	  margin: 0 0 2rem 0;
	  overflow: hidden;
	  position: relative;
	  color: #404040;
	  background-image: linear-gradient(-70deg, #F8EEE7, transparent 50%);
	}

	.postcard-title {
	    font-size: 1.75rem;
	    color: #404040;
	    margin-bottom: 0px;
	}

	.postcard-img {
	  max-width: 300px;
	  max-height: 100%;
	  transition: transform 0.3s ease;
	}

	.postcard-img-link {
	    display: contents;
	}

	.postcard-text {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    padding: 3rem;
	    width: 100%;
	}

	.postcard-text ul li {
		list-style-type: none;
		display: flex;
		font-size: 1em;
		text-align: center;
	}

	.postcard-title a {
		color: #404040;
		text-decoration: none;
	}

	.postcard-title a:hover {
		color: #94618E;
		text-decoration: none;
	}
}

@media only screen and (min-width: 600px) and (max-width: 991.5px) {

	.postcard {
		display: flex;
		box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
		border-radius: 10px;
		margin: 0 0 2rem 0;
		overflow: hidden;
		position: relative;
		color: #404040;
		background-image: linear-gradient(-70deg, #F8EEE7, transparent 50%);
	}

	.postcard-title {
	    font-size: 1.2rem;
	    font-weight: bold;
	    color: #404040;
	    margin-top: 20px;
	}

	.postcard-img {
	  max-width: 250px;
  	  max-height: 100%;
  	  transition: transform 0.3s ease;
	}

	.postcard-img-link {
	    display: contents;
	}

	.postcard-text {
		font-size: 1.0rem;
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    padding: 1rem;
	    width: 100%;
	}

	.postcard-text ul li {
		list-style-type: none;
		display: flex;
		flex-shrink: 1;
		font-size: 1em;
		text-align: center;
	}

	.postcard-title a {
		color: #404040;
		text-decoration: none;
	}

	.postcard-title a:hover {
		color: #94618E;
		text-decoration: none;
	}
}

@media only screen and (max-width: 599.5px) {

	.postcard {
		display: block;
		box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
		border-radius: 10px;
		margin: 0 0 2rem 0;
		overflow: hidden;
		position: relative;
		color: #404040;
		background-image: linear-gradient(-70deg, #F8EEE7, transparent 50%);
	}

	.postcard-title {
	    font-size: 1.2rem;
	    font-weight: bold;
	    color: #404040;
	    margin-top: 20px;
	}

	.postcard-img {
	  width: 100%;
	  transition: transform 0.3s ease;
	}

	.postcard-img-link {
	    display: contents;
	}

	.postcard-text {
		font-size: 1.0rem;
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    padding: 1rem;
	    width: 100%;
	}

	.postcard-text ul li {
		list-style-type: none;
		display: flex;
		flex-shrink: 1;
		font-size: 1em;
		text-align: center;
	}

	.postcard-title a {
		color: #404040;
		text-decoration: none;
	}

	.postcard-title a:hover {
		color: #94618E;
		text-decoration: none;
	}
}





